/*base button variables */
$button-color: #ffffff;
$button-color-gray: #555;
$button-hover-color: #ffffff;
$button-border-color: #ffffff;
$button-padding: .4em 1em;
$button-border-radius: 5px;
$button-background-color: #59d;
$button-green-background-color: #6b6;
$button-red-background-color: #d33;
$button-gray-background-color: #555;
$button-white-background-color: #f5f5f5;


.button {
  @include button($button-background-color, $button-color, $button-hover-color, $button-padding, $button-border-radius );
  font-size: 1rem;
  font-family: $open-sans;
  border: none;
  text-decoration: none;

  /* colors */
  &_green {
    @include button($button-green-background-color, $button-color, $button-color, $button-padding, $button-border-radius );
  }

  &_red {
    @include button($button-red-background-color, $button-color, $button-color, $button-padding, $button-border-radius );
  }

  &_gray {
    @include button($button-gray-background-color, $button-color, $button-color, $button-padding, $button-border-radius );
  }

  &_white {
    @include button($button-white-background-color, $button-color-gray, $button-color-gray, $button-padding, $button-border-radius );
  }

  /*states*/

  &_disabled {
    @include button(lighten(#59d, 30%), #fff, #fff, $button-padding, $button-border-radius );
    cursor: not-allowed;
    &:hover{
      background: lighten(#59d, 30%)
    }
  }

  &_disabled-standard {
    @include button(#59d, #fff, #fff, $button-padding, $button-border-radius );
    cursor: not-allowed;
    &:hover{
      background: #59d;
    }
  }

  &_loading {
    @include button(#59d, #fff, #fff, $button-padding, $button-border-radius );
    cursor: wait;
    &:hover{
      background: #59d;
    }
  }

  /*sizes*/

  &_large {
    padding: .6em 3em;
  }

  &_medium {
    padding: .4em 1em;
  }

  &_small {
    padding: .2em .8em;
  }
}
